*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-bottom: 500px;
}

h2 {
    margin-bottom: 1.6rem;
    text-align: center;
    color: #333;
}

#box-shadow-generator {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

/* Estilos para a área de control e inputs*/

/* regra geral para control e preview */
#controls-container,
#preview{
    flex: 1;
    padding: 2rem;

}

/* controls */
/* cada form-control */
.form-control {
    display: flex;
    padding-bottom: 1.2rem;
    margin-bottom: 1.2rem;
    border-bottom: 1px solid #ccc;

}
/* form label */
.form-control label {
    font-weight: bold;
    margin-bottom: 1rem;
    color: #555;
}
/* form input */
.range-input {
    display: flex;
    flex-direction: column;
    flex: 1;

}

/* estilo para o input range */
.range-input input[type="range"] {
    -webkit-appearance: none; /* remover estilo padrão do range */
    appearance: none;
    width: 100%;
    height: 24px;
    background-color: #d3d3d3;
    outline: none;

}
.range-input input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* remover estilo padrão do range, esse é para remove a bolinha/slider */
    appearance: none;
    width: 24px;
    height: 24px;
    background-color: yellow;
    cursor: pointer;

}
/* form reference input */
.reference-input {
    display: flex;
    align-items: center;

}

.reference-input p {
    margin-left: 5px;
}
/* form text input */
.form-control input[type="text"] {
    height: 30px;
    width: 30px;
    margin-left: 1rem;
    text-align: center;
}

/* Box Shadow Preview  */
#box {
    
    width: 100%;
    height: 300px;
    background-color: #ffee00;
}


/* Box Shadow code regras */
#generated-rule {
    text-align: center;

}

#generated-rule p {
    margin-bottom: .5rem;
}


#rules-area {
    background-color: #d3d3d3;
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid #e9d60a;
    padding: 1rem;
}







