*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image:linear-gradient(to bottom, #f0f0f0 25%, #0a131f  );
    padding-bottom: 500px;
    padding-top: 30px;
}

h2 {
    margin-bottom: 1.6rem;
    text-align: center;
    color: #333;
}

#box-shadow-generator {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

/* Estilos para a área de control e inputs*/

/* regra geral para control e preview */
#controls-container,
#preview{
    flex: 1;
    padding: 4rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    

}
/* control */
#controls-container {
    margin-right: 1rem;
    background-color: #eeeeee;
   box-shadow: rgb(0, 0, 0) 2px 3px 16px -3px ;

    -webkit-box-shadow: rgb(0, 0, 0) 2px 3px 16px -3px ;

    -moz-box-shadow: rgb(0, 0, 0) 2px 3px 16px -3px ;
}
/* preview */
#preview {
    background-color: #dadada;
    box-shadow: rgb(0, 0, 0) 2px 3px 16px -3px ;

    -webkit-box-shadow: rgb(0, 0, 0) 2px 3px 16px -3px ;

    -moz-box-shadow: rgb(0, 0, 0) 2px 3px 16px -3px ;
}

/* controls */
/* cada form-control */
.form-control {
    display: flex;
    padding-bottom: 1.2rem;
    margin-bottom: 1.2rem;
    border-bottom: 1px solid #ccc;

}
/* form label */
.form-control label {
    font-weight: bold;
    margin-bottom: 1rem;
    color: #555;
}
/* form input */
.range-input {
    display: flex;
    flex-direction: column;
    flex: 1;

}

/* estilo para o input range */
.range-input input[type="range"] {
    -webkit-appearance: none; /* remover estilo padrão do range */
    appearance: none;
    width: 100%;
    height: 5px;
    background-color: #cec3ff;
    outline: none;

}
.range-input input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* remover estilo padrão do range, esse é para remove a bolinha/slider */
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgb(162, 0, 255);
    cursor: pointer;

}
/* form reference input */
.reference-input {
    display: flex;
    align-items: center;

}

.reference-input p {
    margin-left: 5px;
}
/* form text input */
.form-control input[type="text"] {
    height: 30px;
    width: 30px;
    margin-left: 1rem;
    text-align: center;
}

/* Box Shadow Preview Gerado */
#box {
    
    width: 100%;
    height: 300px;
    background-color: #ffffff;
}


/* Box Shadow code regras */
#generated-rule {
    text-align: center;
    margin-top: 1rem;

}

#generated-rule p {
    margin-bottom: .5rem;
    
}


#rules-area {
    background-color: #d3d3d3;
    max-width: 1000px;
    margin: 0 auto;
    border: 2px solid #957efd;
    border-radius: 5px;
    padding: 1rem;
}







